body {
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* For a tag in Index page -> turn into courier */
a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}