body {
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

.add-btn {
  background-color: #006250;
  color: #FFFFFF;
}

.add-btn:hover {
  background-color: #014438;
  color: #FFFFFF;
  transition: 0.4s;
}